/* 详情页样式 */

@import "../common/widgets/detail/detail.scss";

.detail-title {

    .detail-title-control {
        width: rem(20px);
        padding-right: rem(15px);

        .detail-checkbox {
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            top: 50%;
            margin-top: rem(-10px);
        }
    }
}

.main {
    padding-bottom: rem(40px);
}


#comment-input-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.goalui-fixedinput {
    position: relative !important;

    .attach-list {
        max-height: rem(125px);
        overflow: auto;
    }
}

.componentAttachItem {
    span {
        display: inline;
    }
}