/* 详情页样式 */

@import "../common/widgets/detail/detail.scss";

.detail-title {

    .detail-title-control {
        width: rem(20px);
        padding-right: rem(15px);

        .detail-checkbox {
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            top: 50%;
            margin-top: rem(-10px);
        }
    }
}

.main {
    padding-bottom: rem(40px);
    overflow: hidden;

    position: absolute;
    width: 100%;
    height: 2000px;
    overflow-y: scroll;

    &.nofixbar {
        padding-bottom: 0;
    }

    // &.ios-fixed {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     overflow: hidden;
    //     -weblit-overflow-scrolling: touch;
    // }
}


#comment-input-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.goalui-fixedinput {
    position: relative !important;

    .attach-list {
        max-height: rem(125px);
        overflow: auto;
    }
}

.componentAttachItem {
    span {
        display: inline;
    }
}