

// 加载更多
.data-more {
    // position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;

    width: 100%;
    text-align: center;
    font-size: 12px;
}

.data-reload {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: relative;

    > div {
        height: 20px;
        line-height: 20px;
        padding: 10px 0 0 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    &-tips {}
}