/**
 * @file add-attach.scss
 * @author hefeng
 *
 * 添加附件icon
 *
 */

$add-attach-width: rem(17px);

.add-attach {
	padding: 0;
	display: inline-block;
	width: $add-attach-width;
	height: $add-attach-width;
	background-image: url('#{$rootImg}/button_import_add-accessory.png');
	background-repeat: no-repeat;
	background-size: $add-attach-width;
	vertical-align: rem(-2px);
	margin-right: rem(-3px);
}