/**
 * @file fn.scss
 * @author deo
 *
 * 函数包
 *
 */

/**
 * $px 转换 px
 *
 */
@function rem ($px) {
    @return $px / $browser-default-font-size * 1rem;
}

/**
 * ellipsis
 * support multi line (webkit only)
 *
 */
@mixin ellipsis ($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    
    @if ($line == 1) {
       white-space: nowrap;
    }
    @else {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}

/**
 * clearfix
 * @see http://h5bp.com/q
 *
 */
@mixin clearfix () {
    &:after,
    &:before {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

/**
 * 列布局函数，默认两列
 *
 * @param {$left-width} px
 * @param {$right-width} [两列] px
 *
 */
@mixin column ($left-width, $right-width: 0px) {
    display: box;
    box-pack: center;
    box-align: center;

    div {
        
        float: left;

        &.column-left {
            width: $left-width;
        }

        &.column-middle {
            width: 100%;
            margin: 0 ($right-width * -1) 0 ($left-width * -1);

            .column-inner {
                float: none;
                margin: 0 ($right-width) 0 ($left-width);
                @include ellipsis();
            }
        }
        
        @if $right-width != 0 {
            &.column-right {
                float: right;
                width: $right-width;
            }
        }
    }
}

/**
 * 获取实际箭头方向
 *
 * @param {$dir} [往右] 箭头方向
 *
 */
@function getArrowDir ($dir) {
    
    @if $dir == 'right' {
        @return 'left';
    }
    @else if $dir == 'top' {
        @return 'bottom';
    }
    @else if $dir == 'bottom' {
        @return 'top';
    }

    @return 'right';
}

/**
 * 箭头
 *
 * @param {$size} px 箭头大小
 * @param {$dir} [往右] 箭头方向
 * @param {$color} [#C2C7CC] 箭头颜色
 *
 */
@mixin arrow ($size, $dir: right, $color: #C2C7CC) {

    $width: 0;
    $height: 0;
    
    @if $dir == 'right' or $dir == 'left' {
        $width: $size;
        $height: $size * 2;
    }
    @else {
        $width: $size * 2;
        $height: $size * 2;
    }

    width: $width;
    height: $height;
    overflow: hidden;

    i {
        @if $dir == 'right' {
            margin-left: 0;
        }
        @else if $dir == 'left' {
            margin-left: $size * -1;
        }
        @else if $dir == 'top' {
            margin-top: $size * .55 * -1;
        }
        @else if $dir == 'bottom' {
            margin-top: $size * .55;
        }

        width: 0;
        height: 0;
        border: $size solid transparent;
        border-#{getArrowDir($dir)}-color: $color;
    }
}

/**
 * 可点击态箭头
 *
 * @param {$size} px 箭头大小
 * @param {$dir} [往右] 箭头方向
 * @param {$color} [#C2C7CC] 箭头颜色
 *
 */
@mixin arrow-more ($size, $dir: right, $color: #C2C7CC) {

    @include arrow($size, $dir, $color);

    $dir-left: 0px;
    $dir-top: 0px;
    $dis-a: ($size + 2) * -1;
    $dis-b: ($size * -1 + 2);
    $dis-c: ($size * -1);

    @if $dir == 'right' {
        $dir-left: $dis-a;
        $dir-top: $dis-c;
    }
    @else if $dir == 'left' {
        $dir-left: $dis-b;
        $dir-top: $dis-c;
    }
    @else if $dir == 'top' {
        $dir-left: $dis-c;
        $dir-top: $dis-b;
    }
    @else if $dir == 'bottom' {
        $dir-left: ($size * -1);
        $dir-top: $dis-a;
    }

    i {
        position: relative;

        &:after {
            position: absolute;
            content: ' ';
            left: $dir-left;
            top: $dir-top;
            border: $size solid transparent;
            border-#{getArrowDir($dir)}-color: #fff;
        }

        &:after {
            margin: 0 !important;
        }
    }
}

@import "border-1px";
@import "tab.scss";