/**
 * @file layout.scss
 * @author deo
 *
 * 布局相关
 *
 */

.layout {
    margin-top: rem(10px);
    padding: rem(20px) rem(15px);
    background: $white;
}

.layout-list {
    margin-top: rem(10px);
    padding: rem(20px) 0 0 rem(15px);
    background: $white;
}