/**
 * @file tab.scss
 * @author deo
 *
 * tab
 *
 */

/**
 * @param {$num} tab 的数量
 * @author deo
 *
 */
@mixin fixbar($num, $color: #fff) {

    ul {
        @include border-1px(top);
    }

    ul {
        width: 100%;
        position: fixed;
        z-index: 2;
        bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        background: $color;

        li {
             -moz-box-flex: $num;
             -webkit-box-flex: $num;
             box-flex: $num;
             text-align: center;
             height: rem(24px);
             line-height: rem(24px);
             padding: rem(10px) 0;
             color: #2299EE;

             @include border-1px(left);
        }
    }
}