/**
 * @file ui.scss
 * @author deo
 *
 * icon样式
 *
 */

/**
 * 附件添加
 *
 */
$add-attach-width: rem(18px);

.add-attach {
    padding: 0;
    display: inline-block;
    width: $add-attach-width;
    height: $add-attach-width;
    background-image: url('../img/button_import_add-accessory.png');
    background-repeat: no-repeat;
    background-size: $add-attach-width;
}

/**
 * 文本清除
 *
 */
$add-attach-width: rem(18px);

.close-x {
    padding: 0;
    display: block;
    position: absolute;
    right:rem(20px);
    width: $add-attach-width;
    height: $add-attach-width;
    background-image: url('../img/button_top_search_close.png');
    background-repeat: no-repeat;
    background-size: $add-attach-width;
}

/**
 * 右箭头
 *
 */
$arrow-width-size: rem(9px);
$arrow-height-size: rem(14px);

.arrow-right {
    display: inline-block;
    padding: 0;
    width: $arrow-width-size;
    height: $arrow-height-size;
    background-image: url('../img/icon_list_to-right-arrow.png');
    background-repeat: no-repeat;
    background-size: $arrow-width-size $arrow-height-size;
}

/**
 * 勾
 *
 */
$hook-width-size: rem(16px);
$hook-height-size: rem(12px);

.hook {
    display: inline-block;
    padding: 0;
    width: $hook-width-size;
    height: $hook-height-size;
    background-image: url('../img/icon_tab_sure.png');
    background-repeat: no-repeat;
    background-size: $hook-width-size $hook-height-size;
}

/**
 * 勾和x
 *
 *
 */
$circle-size: rem(45px);
.circle-right, .circle-err {
    display: inline-block;
    padding: 0;
    width: $circle-size;
    height: $circle-size;
    background-repeat: no-repeat;
    background-size: $circle-size;
}

.circle-right {
    background-image: url('../img/popup_right.png');
}

.circle-err {
    background-image: url('../img/popup_error.png');
}

/**
 * 搜索图标
 *
 */
$search-size: rem(14px);
.icon-search {
    display: inline-block;
    padding: 0;
    width: $search-size;
    height: $search-size;
    background-image: url('../img/icon_top_search.png');
    background-repeat: no-repeat;
    background-size: $search-size;
}

/**
 * 大搜索图标
 *
 */
$search-big-size: rem(73px);
.icon-search-big {
    display: inline-block;
    padding: 0;
    width: $search-big-size;
    height: $search-big-size;
    background-image: url('../img/icon_middle_empty_serch.png');
    background-repeat: no-repeat;
    background-size: $search-big-size;
}

/**
 * 网络故障图标
 *
 */
$net-err-width-size: rem(79px);
$net-err-height-size: rem(69px);

.icon-net-err {
    display: inline-block;
    padding: 0;
    width: $net-err-width-size;
    height: $net-err-height-size;
    background-image: url('../img/icon_middle_empty_no-network.png');
    background-repeat: no-repeat;
    background-size: $net-err-width-size $net-err-height-size;
}

/**
 * 旗帜图标
 *
 */
$flag-width-size: rem(75px);
$flag-height-size: rem(71px);

.icon-flag {
    display: inline-block;
    padding: 0;
    width: $flag-width-size;
    height: $flag-height-size;
    background-image: url('../img/icon_middle_empty_task.png');
    background-repeat: no-repeat;
    background-size: $flag-width-size $flag-height-size;
}

/**
 * 五角星
 */
$star-size: rem(16px);
.star {
    padding: 0;
    display: inline-block;
    width: $star-size;
    height: $star-size;
    background: url('../img/star.png') no-repeat ($star-size * -1) 0;
    background-size: $star-size * 2;

    &.follow {
        background-position: 0 0;
    }
}

/**
 * 计数器
 */
.count {
    display: inline-flex;
    padding: 0 rem(2px);
    min-width: rem(14px);
    text-align: center;
    height: rem(18px);
    line-height: rem(18px);
    background: $red;
    border-radius: 10px;
    color: $white;
    font-size: rem(12px);
}

/**
 * Loading
 */
$loading-size: 20px;
.loading {
    @include loading($loading-size);
}

.loading-status {
    display: flex;
    justify-content: center;

    .loading, .loading-text {
        display: inline-flex;
    }
    .loading-text {
        height: $loading-size;
        line-height: $loading-size;
        padding-left: rem(10px);
        font-size: rem(12px);
        color: $color-tips;
    }
}

.layout-list {
    .loading-status {
        padding-top: 0;
        padding-bottom: rem(15px);
    }
}