/**
 * @file vars.scss
 * @author deo
 *
 * 变量声明
 *
 */

$browser-default-font-size: 16px !default;

// colors
$body-bg: #f2f3f5;
$white: #fff;
$black: #000;
$gray: #797C80;
$light-gray: #919599;
$red: #FA575D;
$drak-red: #ff4d52;

$color-tips: #AAAFB2;

// 状态颜色
$state-doing: #2299EE;

$blue: #2299EE;