/**
 * @file vars.scss
 * @author deo
 *
 * 变量声明
 *
 */

$browser-default-font-size: 16px !default;

// colors
$white: #fff;
$black: #000;
$gray: #797C80;
$light-gray: #919599;
$red: #FA575D;

$color-tips: #AAAFB2;

// 状态颜色
$state-doing: #2299EE;

$blue: #2299EE;