/**
 * @file vars.scss
 * @author deo
 *
 * 变量声明
 *
 */

$rootImg: '../common/img';


$browser-default-font-size: 16px !default;

// colors
$white: #fff;
$black: #000;
$gray: #787980;

$color-tips: #AAAFB2;

// 状态颜色
$state-doing: #2299EE;