/* 详情页样式 */

@import "../common/css/global.scss";
@import "../common/css/layout.scss";
@import "../common/css/star.scss";

.main {
    padding-bottom: rem(44px);
}

.layout {
    @include border-1px(bottom);
}

.sub-title {
    color: $gray;
    padding-bottom: rem(15px);
}

.detail-title {

    height: rem(40px);

    div {
        height: rem(40px);

        p {
            display: block;
            clear: both;
            color: $color-tips;
            font-size: rem(12px);
            height: rem(18px);
            line-height: rem(18px);
            overflow: hidden;
        }
    }

    .detail-title-control {
        position: relative;
        width: rem(16px);
        float: left;
        padding-right: rem(15px);

        .detail-checkbox {
            position: absolute;
            width: rem(16px);
            height: rem(16px);
            top: 50%;
            margin-top: rem(-8px);
        }
    }

    .detail-title-main {
        float: left;

        .detail-title-top {
            color: $black;
            font-size: rem(16px);
            margin-bottom: rem(8px);
        }
    }

    .detail-title-right {
        float: right;
        text-align: right;

        .star {
            display: inline-block;
            position: relative;
            margin-top: rem(2px);
        }

        .detail-title-state {
            margin-top: rem(4px);
            
            // 没有星星，修正top
            &-fixed {
                margin-top: rem(12px);
            }
        }
    }
}

// 任务描述
.detail-comments {
    line-height: rem(16px);

    .sub-title {
        padding-bottom: rem(10px);
    }

    p {
        margin-top: rem(5px);
        line-height: rem(22px)
    }
}

.layout-list {
    
    // 通用
    dd {
        height: rem(20px);
        line-height: rem(20px);
        padding: rem(13px) 0 rem(11px) 0;

        @include border-1px(top, #e1e4e6);

        @include clearfix();

        div {
            height: 100%;
        }

        .column-left {
            color: $gray;
        }

        .column-middle {
        }

        .column-right {
            position: relative;
            font-size: rem(12px);

            .column-more {
                position: absolute;
                right: rem(15px);
                display: box;
                box-pack: center;
                box-align: center;

                em {
                    color: $light-gray;
                    vertical-align: middle;

                    &.count {
                        display: inline-block;
                        text-align: center;
                        width: rem(18px);
                        height: rem(18px);
                        line-height: rem(18px);
                        background: $red;
                        border-radius: 100%;
                        color: $white;
                        font-size: rem(12px);
                    }
                }

                .arrow {
                    margin-left: rem(3px);
                    @include arrow-more(7px);
                }
            }

            .download {
                width: rem(27px);
                height: rem(27px);
                background: url('#{$rootImg}/downloadAttach.png') no-repeat 0 0;
                background-size: rem(27px);
            }
        }
    }

    .load-more {
        color: $light-gray;
        text-align: center;
        height: rem(20px);
        line-height: rem(20px);
        padding: rem(13px) 0 rem(11px) 0;

        @include border-1px(top, #e1e4e6);
    }
    
    // 成员
    $partner-left-width: rem(55px);
    $partner-right-width: rem(65px);

    &.partner {

        dd {
            @include column($partner-left-width, $partner-right-width);
        }
    }
    
    // 事件 & 讨论
    $at-left-width: 80%;
    $at-right-width: rem(65px);

    .affair-talk {

        dd {

            @include column($at-left-width, $at-right-width);
            
            .column-left {
                color: $light-gray;
                @include ellipsis();
            }

            &.new-msg {
                .column-left {
                    color: $black;
                }
            }
        }
    }

    // 事件 & 讨论
    $attach-left-width: rem(30px);
    $attach-right-width: rem(65px);

    &.attach {

        dd {

            height: rem(36px);

            @include column($attach-left-width, $attach-right-width);
            
            .column-left {
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .column-middle {

                .column-inner {
                    padding-left: rem(15px);

                    .attach-size {
                        font-size: rem(12px);
                        color: $gray;
                    }
                }
            }

            .column-right {
                position: relative;

                em {
                    position: absolute;
                    top: rem(5px);
                    right: rem(15px);
                }
            }
        }
    }
}

.fixbar {
    @include fixbar(3);
}