@import '../common/css/global';
@import '../common/css/ui';

.done-container {
	height: 100%;
	width: 100%;
	background-color: rgb(235, 236, 232);
	.option {
		width: 100%;
		height: rem(80px);
		line-height: rem(80px);
		background-color: #fff;
		position: relative;
		box-sizing: border-box;
		padding: 0 rem(30px);
		margin-top: rem(15px);
		font-size: rem(16px);
		display: flex;
		align-items: center;
		>.hook {
			margin-right: rem(4px);
			margin-left: rem(-20px);
		}
		.title {
			flex:1;
		}
	}
}