/* 列表页样式 */
@charset "utf-8";

@import "../common/css/global.scss";
@import "../common/css/ui.scss";

.list-item {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background: $white;
    position: relative;

    &-title {
        @include border-1px(bottom);

        padding: rem(5px) 0 rem(10px) 0;
    }

    &-content {
        position: relative;

        > div {
            margin-top: rem(10px);

            &.time {
                margin-top: rem(15px);
            }
        }
    }
}

// 加载更多
.scroll-loader {
    // position: absolute;
    width: 100%;
    text-align: center;
    height: rem(20px);
    line-height: rem(20px);
    padding: rem(5px) 0;
}

.slider-scroll {
    position: relative;
    width: 100%;
}

.slider-container {
    position: relative;
    overflow: hidden;
    z-index: 1;

    .slider-outer {
        position: relative;

        .slider-page {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;

            .scroll-inner {
                width: 100%;
                height: 100%;

                .list-wrapper-content {}
            }
        }
    }
}

.fixbar {
    @include fixbar(3);
}

/* 差速滑动组合 */
.slide-default {
    transform: translate3d(0%, 0px, 0px);
}
.slide-default-left {
    transform: translate3d(-100%, 0px, 0px);
}
.slide-default-right {
    transform: translate3d(100%, 0px, 0px);
}
.slide-next {
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 260ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
.slide-prev {
    transform: translate3d(100%, 0px, 0px);
    transition: transform 260ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
.slide-current {
    transform: translate3d(0%, 0px, 0px);
    transition: transform 260ms cubic-bezier(0.42, 0, 0.58, 1.0);
}

.slide-fast {
    transition: transform 260ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
