@import "../common/css/global";

.alert-info {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: rem(80px);
	line-height: rem(80px);
	width: rem(259px);
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #fff;
	font-size: rem(16px);
}

.urgency {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: rem(260px);
	background-color: #fff;
	font-size: rem(18px);
	.urgency-content {
		color: #999;
		line-height: rem(50px);
	}
	.urgency-value {
		
	}
}

.task-container {
	font-size: 16px;
	* {
		box-sizing: border-box;
	}

	.input {
		border: none;
		background-color: #fff;
		width: 100%;
		height: 100%;
		outline: none;
		font-size: rem(16px);
		resize: none;
		padding-right: rem(15px);

		&:focus {
	        text-indent: 0.1rem;
		}
	}

	.task-title-wrap,
	.task-content-wrap {
		position: relative;
		padding: rem(20px) 0 0 rem(15px);
		border-color: #dedfe0;
		margin-top: rem(10px);
		background-color: #fff;
	}

	.err-tip {
		position: absolute;
		right: rem(15px);
		font-size: rem(12px);
		color: #f00;
	}

	.task-title-wrap {
		padding-bottom: rem(20px);

		.task-title {
			font-size: rem(18px);
		}

		.err-tip {
			bottom: rem(-12px);
		}
	}

	.task-content-wrap {

		.task-words {
			height: rem(120px);
			padding-bottom: rem(20px);
			border-color: #e3e4e5;
		}

		.task-attach {

			.task-add-attach {
				height: rem(50px);
				line-height: rem(48px);
				color: #666;
			}
		}
	}

	.task-option {
	    border-color: #dedfe0;
	    padding-left: rem(15px);
	    background-color: #fff;
	    margin-top: rem(10px);

		.task-item {
		    height: rem(44px);
		    line-height: rem(42px);

		    &:first-child {
		    	border-color: #e3e4e5;
		    }

		    >span {
		    	color: #666;
		    }
	    }
	}
}





