$pagination-y: -24px;

.hide {
    display: none;
}

.pagination {
    position: fixed;
    padding: 4px 6px 2px 6px;
    height: 12px;
    line-height: 12px;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    bottom: -18px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    margin-left: -12px;
    display: block;
    /*
    display: -webkit-box;
    display: -moz-box;
    */
    box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    z-index: 99;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
}

.pagination-show {
    transform: translate3d(0, $pagination-y, 0);
    transition: transform .4s ease-out;
}