@import "../ui/css/common.scss";
@import "../ui/css/tab.scss";

.list-item {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background: $white;
    position: relative;

    .like {
        width: 6px;
        height: 6px;
        background: $black;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -5px;
        border-radius: 100%;
    }
}

.slider-outer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-page {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0%, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* 差速滑动组合 */
.slide-default {
    transform: translate3d(0%, 0px, 0px);
}
.slide-default-left {
    transform: translate3d(-100%, 0px, 0px);
}
.slide-default-right {
    transform: translate3d(100%, 0px, 0px);
}
.slide-next {
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
.slide-prev {
    transform: translate3d(100%, 0px, 0px);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
.slide-current {
    transform: translate3d(0%, 0px, 0px);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
